<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="URL" value="http://localhost:8080/AdvantoWS/uploadFile" />
    <add key="Subscriptionkey" value="44a5252719ce4882b9732550715cd671" />
    <add key="APIMKey" value="d042740a33f5401897a3b25b0207aec5" />
    <add key="refreshLocationChrome" value="93,60" />
    <add key="cacheClearLocationChrome" value="1858,60" />
    <add key="cacheClearLocationEdge" value="\Packages\Microsoft.MicrosoftEdge_8wekyb3d8bbwe\AC\" />    
    <add key="markerDelay" value="3000" />
    <add key="dbPassword" value="/Dqi0JnyZBPitEqXWz+HMw==" />    
  </appSettings>
  <connectionStrings>
    <add name="CRMPerfDB"
    connectionString="Data Source=bmjc5r6ern.database.windows.net,1433;Network Library=DBMSSOCN;
    Initial Catalog=idccrmperfengSQLDB;User ID=crmmobilesa@bmjc5r6ern;Password="/>
  </connectionStrings>
</configuration>

